/* 
    CSS file that applies to anything in the customer area
*/

/* ------------------------- Start - Index Page Cover photo ---------------------*/
.background-image {
    width: 100%; /* or any desired width */
    height: 500px; /* or any desired height */
    background-position: center center;
    background-size: cover; /* or contain */
    resize: both;
}


@media (max-width: 680px) {
    .background-image {
        height: 300px
    }
}

@media (max-width: 580px) {
    .background-image {
        height: 400px
    }
}
/* ------------------------- End - Index Page Cover photo ---------------------*/

/* ------------------------- Start - Index Page Cover photo overlay details ---------------------*/
h1 {
    color: #f0efe8;
    font-family: 'Trirong', serif;
    font-size: 3.2vw;
    font-weight: 450;
}

@media (max-width: 580px) {
    h1 {
        font-size: 6vw;
    }
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.site-title {
    margin-top: 5vh;
    margin-top: 5vh;
    border-radius: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: rgb(18, 18, 19);
    opacity: 0.80;
    resize: both;
}


.email-contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.phone-contact {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.fa-envelope, .fa-phone-square {
    color: white;
    font-size: 20px;
}

.phone-and-email{
    font-weight: 100;
}


/* ------------------------- End - Index Page Cover photo overlay details ---------------------*/
