<div class="background-image" style="background-image: url('/images/coverPhoto.jpg');">
    <div class="container-fluid center-screen">
        <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 pt-2 pb-2 mt-3 m-3 site-title ">
            <div class="pb-1 pt-1">
                <img src="/images/logo-removebg-preview.png" class="img-fluid logo" />
            </div>
            <div class="pb-1 pt-1">
                <h1>JOHN O'LOUGHLIN CONSTRUCTION</h1>
            </div>
            <div class="pb-1 pt-1">
                <i class="fa fa-envelope" aria-hidden="true">
                    <span class="contact-info">
                        johnsoloughlin@gmail.com
                    </span>
                </i>
            </div>
            <div class="pb-1 pt-1">
                <i class="fa fa-phone-square" aria-hidden="true">
                    <span class="contact-info">
                        +(353) 86 855 4799
                    </span>
                </i>
            </div>
            <div class="pb-1 pt-1">
                <i class="bi bi-geo-alt-fill"></i>
                <span class="contact-info">
                    Buncrana, Co. Donegal
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container pb-1 pt-1 mb-2 mt-2">
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-wrap col-12 btn-group mt-4" role="group">
            <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-light rounded-2 mx-1" onclick="btnClick()">
                <i class="bi bi-house-check"></i>
                Projects
            </a>
            <a href="@Url.Action("Index", "Services")" class="btn btn-lg btn-light rounded-2 mx-1" onclick="btnClick()">
                <i class="bi bi-hammer"></i>
                Services
            </a>
        </div>
    </div>
</div>